---
---

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

/* Reset Styles */
* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	
	box-sizing: border-box;
}
html, body {
	width: 100%;
	min-height: 100%;
	
	color: white;
	background-color: black;
	
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
::placeholder {
	opacity: 1;
}
::-moz-selection {
	color: var(--highlight-foreground-color);
	background-color: var(--highlight-background-color);
}
::selection {
	color: var(--highlight-foreground-color);
	background-color: var(--highlight-background-color);
	
	// &:window-inactive {
	// 	--highlight-foreground-color: white;
	// 	--highlight-background-color: navy;
	// }
}
::-webkit-color-swatch {
	border: none;
}
::-moz-color-swatch {
	border: none;
}
svg {
	width: 100%;
	height: 100%;
}
textarea {
	-moz-tab-size: 4;
	tab-size: 4;
	white-space: pre;
	overflow: auto;
	resize: vertical;
}

/* Variables, oh man! */
:root {
	--content-size-width: 44rem;
	--content-size-height: 17rem;
	--content-size-padding: 5rem;
	
	--text-color: white;
	--alt-color: black;
	
	--highlight-foreground-color: var(--text-color);
	--highlight-background-color: var(--alt-color);
	
	--context-text: black;
	--context-disabled: #9f9f9f;
	--context-background: white;
	--context-hover: #cfcfcf;
	--context-section: #f7f7f7;
	--context-divider: #efefef;
	--context-border: rgba(191, 191, 191, .5);
	
	--icon-color: white;
	--icon-size: 7rem;
	
	--border-radius: .25rem;
	
	--blur-color: rgba(255, 255, 255, .05);
	--blur-size: .5rem;
	
	--animation-time: 0s;
	--animation-function: linear;
	
	&.dark {
		--blur-color: rgba(255, 255, 255, .05);
		
		--context-text: white;
		--context-disabled: #7f7f7f;
		--context-background: black;
		--context-hover: #3f3f3f;
		--context-section: #171717;
		--context-divider: #2f2f2f;
	}
	&.light {
		--blur-color: rgba(255, 255, 255, .25);
	}
	&.darkclear {
		@extend .dark;
		
		--blur-color: rgba(32, 32, 32, .25);
		--blur-size: 0;
	}
	&.lightclear {
		--blur-color: rgba(255, 255, 255, .25);
		--blur-size: 0;
	}
	&.darkopaque {
		@extend .darkclear;
		
		--blur-color: rgba(32, 32, 32, 1);
	}
	&.lightopaque {
		@extend .lightclear;
		
		--blur-color: rgba(255, 255, 255, 1);
	}

	&.animations {
		--animation-time: .125s;
		--animation-function: ease-in-out;
	}
}

/* Background */
body {
	position: fixed;
	top: 0; left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	
	&.loading::before {
		content: "Loading defaults...";
		position: absolute;
		
		width: 100%;
		height: 100%;
		
		text-align: center;
		
		color: var(--text-color);
		background-color: var(--alt-color);
		
		z-index: 101;
	}
}

/* Preload style */
div#preload,
div#preload * {
	visibility: hidden;
	display: block;
	
	width: 0;
	height: 0;
	
	z-index: -1;
}

/* Popup style */
div#popup {
	display: none;
	position: absolute;
	border: 1px solid rgba(191, 191, 191, .5);
	
	width: 100%;
	height: auto;
	
	max-width: 32rem;
	max-height: 24rem;
	
	color: var(--alt-color);
	background-color: var(--text-color);
	
	border-radius: var(--border-radius);
	
	z-index: 2;
	
	&.show {
		display: block;
	}
	
	#popupheader {
		border-bottom: solid 1px #cfcfcf;
		
		width: 100%;
		height: 2em;
		
		#popuptitle {
			display: inline-block;
			
			padding: .5rem;
			
			width: calc(100% - 2rem);
			height: 2rem;
			
			font-size: 1rem;
			font-weight: 400;
			line-height: 1rem;
			
			vertical-align: top;
		}
		
		#popupclose {
			display: inline-block;
			
			padding: .5rem;
			border-left: solid 1px #cfcfcf;
			
			width: 2rem;
			height: 2rem;
			
			background-image: url("img/popup.svg#cross-off");
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			
			font-size: inherit;
			
			&:hover {
				background-image: url("img/popup.svg#cross-on");
				background-color: #cfcfcf;
			}
			
			&:focus {
				outline: 0;
			}
		}
	}
	
	#popupcontent {
		margin: 1rem 0;
		padding: 0 1rem;
		
		max-height: 22rem;
		
		overflow-x: hidden;
		overflow-y: auto;
		
		.popupset:not(:last-child) {
			margin-bottom: .5rem;
		}
		
		label {
			display: inline-block;
			
			padding: 0 .5rem;
			
			min-width: 40%;
			
			height: 2rem;
			
			line-height: 2rem;
			vertical-align: top;
		}
		
		input, select, textarea {
			display: inline-block;
			
			border: solid 1px black;
			padding: 0 .5rem;
			
			min-width: 60%;
			
			height: 2rem;
			
			color: var(--alt-color);
			background-color: var(--text-color);
			
			font-size: inherit;
			
			&:hover, &:focus {
				color: var(--text-color);
				background-color: var(--alt-color);
				
				--highlight-foreground-color: var(--alt-color);
				--highlight-background-color: var(--text-color);
			}
		}
		
		input[type="color"] {
			padding: .25rem;
		}
		
		input[type="checkbox"] {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			
			padding: 0;
			width: 2rem;
			min-width: 0;
			
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			
			&:checked {
				background-image: url("img/popup.svg#check-off");
			}
			
			&:checked:hover, &:checked:focus {
				background-image: url("img/popup.svg#check-on");
			}
		}
		
		select {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			
			padding-right: 2rem;
			
			background-image: url("img/popup.svg#arrow-down-off");
			background-position: calc(100% - .5rem) 0;
			background-size: contain;
			background-repeat: no-repeat;
			
			&:hover {
				background-image: url("img/popup.svg#arrow-down-on");
			}
			
			&:focus {
				background-image: url("img/popup.svg#arrow-up-on");
			}
		}
		
		textarea {
			display: block;
			
			width: 100%;
			height: 16rem;
			
			max-width: 100%;
			max-height: 24rem;
		}
	}
}

/* Glass style */
div.glass {
	&::before {
		content: "";
		position: absolute;
		
		width: calc(var(--content-size-width) + var(--content-size-padding));
		height: calc(var(--content-size-height) + var(--content-size-padding));
		
		top: calc((0rem - var(--content-size-padding)) / 2);
		left: calc((0rem - var(--content-size-padding)) / 2);
		
		background: inherit;
		box-shadow: inset 0 0 0 calc(var(--content-size-width) + var(--content-size-height)) var(--blur-color);
		filter: blur(var(--blur-size));
	}
	
	position: absolute;
	
	width: var(--content-size-width);
	height: var(--content-size-height);
	
	background: inherit;
	overflow: hidden;
	
	border-radius: var(--border-radius);
}
div.glasscontainer {
	position: absolute;
	
	z-index: 1;
}

/* Content style */
div#content {
	padding: 1rem;
	
	width: 100%;
	height: 100%;
	
	color: var(--text-color);
	
	text-align: center;
	
	& > :not(:last-child) {
		margin-bottom: 1rem;
	}
}

/* Clock style */
div#clock {
	display: inline-block;
	
	height: 4rem;
	
	font-size: 3.5rem;
	line-height: 4rem;
}
span#blink {
	&.on {
		opacity: 1;
	}
	
	&.off {
		opacity: 0;
	}
}

/* Search style */
div#search, input#searchbox {
	width: 100%;
	height: 2rem;
	
	font-size: 1rem;
}
input#searchbox {
	padding: .5rem;
	
	border-radius: var(--border-radius);
	
	font-weight: 400;
	text-align: center;
	
	color: var(--text-color);
	background-color: rgba(255, 255, 255, .25);
	
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	
	transition: background-color var(--animation-time) var(--animation-function);
	
	&.text {
		text-align: left;
	}
	
	&.text, &.date {
		background-color: transparent;
	}
	
	&:hover {
		background-color: rgba(255, 255, 255, .25);
	}
	
	&:focus, &.contextopen {
		color: var(--alt-color);
		background-color: white;
		
		text-align: left;
		
		&::placeholder {
			color: var(--alt-color);
		}
		
		&::-webkit-search-cancel-button {
			background-color: black;
		}
	}
	
	&::placeholder {
		color: var(--text-color);
	}
	
	&.date {
		&:focus::placeholder, &.contextopen::placeholder {
			color: transparent;
		}
	}
	
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		
		border-radius: 50%;
		
		width: 1rem;
		height: 1rem;
		
		background: var(--text-color);
		
		&:active {
			opacity: .5;
		}
	}
}

/* Icon grid */
/* FoldThis */
div#icons {
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 0;
}
div#icons,
div.iconbox {
	display: grid;
}
div.iconbox,
a.icon {
	width: var(--icon-size);
	height: var(--icon-size);
	
	border-radius: var(--border-radius);
	
	transition: var(--animation-time) var(--animation-function);
	transition-property: background-color, padding, width, height;
}
a.icon {
	padding: .5rem;
	
	&:hover, &.contextopen {
		padding: 0;
		
		background-color: #1f1f1f7f;
		fill: #1f1f1f7f;
	}
	
	&.light:hover, &.light.contextopen {
		--icon-color: black;
	}
}
/* FoldThat */

/* Right Click Menu */
ul.contextlist {
	display: block;
	
	position: absolute;
	list-style-type: none;
	
	max-width: 20rem;
	max-height: 75vh;
	
	padding: 6px 0;
	border: 1px solid var(--context-border);
	
	color: var(--context-text);
	background-color: var(--context-background);
	
	border-radius: var(--border-radius);
	
	font-size: 1rem;
	
	z-index: 100;
	
	overflow: auto;
	
	animation: fadeIn var(--animation-time) var(--animation-function);
	
	&.noanimations {
		animation: none;
	}
		
	> :not(:last-child) {
		border-bottom: 1px solid var(--context-divider);
	}
	
	li {
		padding: .5rem;
		
		color: var(--context-text);
		background-color: transparent;
		
		font-weight: 300;
		
		z-index: 101;
		
		&.contextdisabled {
			color: var(--context-disabled);
			
			font-weight: 400;
		}
		
		&:hover {
			background-color: var(--context-hover);
		}
	}
	
	hr {
		border: none;
		
		height: .25rem;
		
		background-color: var(--context-section);
	}
	
	img {
		width: 100%;
	}
}

/* Fade in animation */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Unused classes */
.monospaced {
	font-family: "Fira Mono", monospace;
}
li {
	&.up, &.left, &.right, &.down {
		width: 100%;
		
		text-align: center;
	}
	
	&.left, &.right {
		display: inline-block;
		
		width: 50%;
	}
	
	&.left {
		border-right: .5px solid var(--context-divider);
	}
	
	&.right {
		border-left: .5px solid var(--context-divider);
	}
}

/* Unused animations */
.dummy {
	display: block;
	position: fixed;
	
	width: 100%;
	height: 100%;
	
	z-index: 99;
	
	transform-origin: center;
}
@keyframes sine {
	from {transform: translateX(calc(-1 * var(--anim-sine)));}
	to {transform: translateX(var(--anim-sine));}
}
@keyframes cosine {
	from {transform: translateY(calc(-1 * var(--anim-cosine)));}
	to {transform: translateY(var(--anim-cosine));}
}
@keyframes wavy {
	from {transform: rotate(calc(-1 * var(--anim-wavy)));}
	to {transform: rotate(var(--anim-wavy));}
}
@keyframes pulse {
	from {transform: scale(calc(1 + calc(-1 * var(--anim-pulse))));}
	to {transform: scale(calc(1 + var(--anim-pulse)));}
}

/* SVG trash */
a.icon svg {
	padding: .75rem;
}
/* FoldThis */
	.svg-ii { stroke: inherit; fill: inherit; }
	.svg-tt { stroke: transparent; fill: transparent; }
	.svg-if, .svg-fi { stroke: inherit; fill: var(--icon-color); }
	.svg-si, .svg-is { stroke: var(--icon-color); fill: inherit; }
	.svg-tf, .svg-ft { stroke: transparent; fill: var(--icon-color); }
	.svg-st, .svg-ts { stroke: var(--icon-color); fill: transparent; }
	.svg-sf, .svg-fs { stroke: var(--icon-color); fill: var(--icon-color); }
	.svg-it { stroke: inherit; fill: transparent; }
	.svg-ti { stroke: transparent; fill: inherit; }
/* FoldThat */

/* Old responsive design code */
@media (orientation: portrait) {
	@media (max-width: 368px), (max-height: 384px) {
		html {
			font-size: calc(100vmin / 24);
		}
	}
	
	:root {
		--content-size-width: 23rem;
		--content-size-height: 24rem;
	}
	
	div#icons {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (orientation: landscape) {
	@media (max-width: 704px), (max-height: 272px) {
		html {
			font-size: calc(100vmin / 44);
		}
	}
	
	:root {
		--content-size-width: 44rem;
		--content-size-height: 17rem;
	}
	
	div#icons {
		grid-template-columns: repeat(6, 1fr);
	}
}
